body {
  margin: 0;
  font-family: cursive;
  background-color: darkcyan;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.restaurant-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.ChickFilA {
  text-align: center;
}

.Raisingcanes {
  text-align: center;
}

.Popeyes {
  text-align: center;
}

.Church {
  text-align: center;
}

.Zaxbys {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
